@{
    ViewBag.Title = "Have a Cookie, on Me";
}
<div id="top">
    <div id="header">
        Your cookie is on its way!
    </div>
</div>
<div id="cookies">
    <img class="cookie" alt="Chocolate Chip" src="/Content/Images/Cookies/ChocolateChip.svg">
</div>
<a href="@Url.Action("Index")" class="button">Give a cookie</a>