@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You have a cookie waiting for you!</h1>
<img alt='A cookie' src='http://haveacookieon.me'>
<h2>Click the link below to tell us where to send it</h2>
<a href='http://haveacookieon.me/address/1'>http://haveacookieon.me/address/1</a>
<div class="hint">(Copy the link and paste it into the browser if clicking it doesn't work)</div>